/* Aplico estilos al header y al footer para todos los html */

*{ 
    box-sizing: border-box;  
    margin: 0; 
    padding: 0; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;  
    padding: 1.25rem;
    color:white;
}

header .logo img{
    max-width: 100%;
    height: auto;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.iconos {
    display: flex;
}
  
.iconos a{
    margin-right: 1rem;
}
  
.navegador{
    display: flex;
    list-style: none;
}
  
.navegador li{
    margin-right: 3.75rem;
}
  
li a{
    text-decoration: none;
    font-size: 1.125rem;
    color: white;
    transition: 1s;
}
  
li a:hover{
      color: rgb(88, 239, 173);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 11.875rem;
    padding: 1.25rem;
    text-align: center;
}

.home a {
     color: white;
     text-decoration: none;
     transition: 1s;
}

.home a:hover{
    color: rgb(88, 239, 173);
}

.contacto{
    text-align: center;
}

.contacto h4{
    font-size: 1rem;
}

.whatsapp a{
    position:fixed;
    bottom: 2rem; 
    right: 2rem;
}

@media only screen and (max-width: 768px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: .625rem;
    }

    nav.active {
        display: block;
    }

    .iconos {
        margin-top: .625rem;
        justify-content: center;
        width: 100%;
    }
    
    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header {
        padding: .625rem;
    }

    .navegador li {
        margin-right: 0;
        margin-bottom: .3125rem;
    }

    .footer {
        padding: .625rem;
    }

    .contacto, .home, .iconos, .whatsapp {
        margin-bottom: .625rem;
    }
}

      