/* Aplico estilos al header y al footer para todos los html */

*{ 
    box-sizing: border-box;  
    margin: 0; 
    padding: 0; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;  
    padding: 20px;
    color:white;
}

header .logo img{
    max-width: 100%;
    height: auto;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
  
.iconos {
    display: flex;
}
  
.iconos a{
    margin-right: .625rem;
}
  
.navegador{
    display: flex;
    list-style: none;
}
  
.navegador li{
    margin-right: 3.75rem;
}
  
li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: 1s;
}
  
li a:hover{
      color: rgb(246, 37, 26);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 190px;
    padding: 20px;
}

.home a {
     color: white;
     text-decoration: none;
     transition: 1s;
}

.home a:hover{
    color: rgb(246, 37, 26);
}

.contacto{
    font-size: 14px;
    text-align: center;
}

.contacto h4{
    font-size: 20px;
}

.whatsapp a{
    position:fixed;
    bottom:30px; 
    right:30px;
}
      