.portada img{
    width: 100%;
    height: auto;
}

.horarios{
    text-align: center;
    margin: 48px;
}

.horarios h2{
      margin:16px;
}

.main{
    background-color: rgb(227, 226, 226);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:30px;
    width: 90vw;
    height: 100vh;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    }

.section{
    display: grid;
    place-items: center;
    }

.section img{
    border-radius: 50%;
    }

.section h3 {
    text-align: center;
}

.section p {
    padding-bottom: .625rem;
    text-align: center; 
} 

.contenido{
    display: flex;
    justify-content: center;
    margin: 15px 40px 30px;
    text-align: center;    
} 

.menuNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.menuNav img, h4{
    margin: 10px;
}

.menuNav button{
    border-radius: 16px;
    background-color: grey;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;    
}

.menuNav button:hover{
    background-color:rgb(54, 53, 53);
}

.menuNav a{
    text-decoration: none; 
    font-size: 15px;
    color: white;
}

@media (max-width: 48rem){
    .main{
        grid-template-columns: 1fr;
        gap: .625rem;
    }

    .section img{
        display:none;
    }

    .contenido{
        flex-direction: column;
    }
    .menuNav{
        width: 100%;
    }
}

@media (max-width: 30rem){
    .portada img, .section img, .menuNav img {
        width: 100%;
        height: auto;
    } 
    .main{
        grid-template-columns: 1fr;
        margin:0;
        gap: .625rem;
    }

    .section{
        padding: 0;
    }

    .section img{
        display:none;
    }

    .contenido{
        flex-direction: column;
    }
    .menuNav{
        width: 100%;
    }
}