.quienesSomos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    margin: 3.5rem 2.5rem 2.5rem;
}
  
.descripcion{
    padding: .625rem;
}
  
.quienesSomos h1{
    text-align: center;
    margin: 1.25rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    gap: 1.5625rem;
    margin: 3.5rem 4.5rem 4.5rem;
}

.map-section{
    display: grid;
    place-items: center;
    border: 2px solid rgb(152, 152, 152);
    border-radius: .9375rem;
}

.map-section h3{
    margin: 1.25rem;
}

.map-section p{
    margin: .3125rem;
    line-height: 1.5;

}

@media only screen and (max-width: 600px){
    header {
        flex-direction: column;
        align-items: center;
    }
    .navegador li{
        display: block;
        margin-bottom: .625rem;
    }

    .container{
        grid-template-columns: 1fr;
    }
    .map-section {
        display: block;
        width: 100%;
    }
    body{
        font-size: small;
    }
}
